@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	h1 {
		@apply text-4xl md:text-5xl lg:text-6xl font-semibold dark:text-light leading-tight md:leading-tight lg:leading-tight tracking-tight;
	}

	.btn {
		@apply inline-flex items-center rounded-lg border border-transparent px-5 py-2.5 text-base font-semibold focus:outline-none focus:ring-2 dark:ring-offset-darker focus:ring-offset-2 transition-colors;
	}

	.btn--primary {
		@apply text-neutral-700 bg-cyan-100 hover:bg-white focus:ring-cyan-900 border-2 border-cyan-600 dark:border-0 dark:text-dark-900 dark:bg-cyan dark:hover:bg-cyan-100 dark:focus:ring-cyan;
	}
}

:root {
	--color-primary-rgb: 8, 145, 178;
	--firefly-color: #ea580c;
	--firefly-background-color: #f8fafc;
}

.dark {
	--firefly-color: #5f6795;
	--firefly-background-color: #282a36;
}

body {
	font-family: 'Source Code Pro Variable', monospace;
	font-weight: 400;
	@apply text-neutral-700;
}
